* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

/*----Menu-Principal do Carrinho de Compras--*/

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    background: #0063ff;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}
.menu_principal{
    width: 100%;
    background-color: #0063ff;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    align-content:none ;
}
.logo{
    width: 10rem;
}

.input-container {
    position:relative;
    background: none;

  width: 40%;    
    display: flex;
    justify-content: space-between;
  align-items: center;

}

.busca{
  width: 100%;    
  padding: 12px;
    border: none;
    border-radius: 10px;
}

.busca:hover {
      cursor: pointer;
      border: 3px solid blue;
}
.busca:focus {
      background: none;
      border: 3px solid blue;
      outline: none;
}

.lupa {
      background: rgb(46, 46, 157);
      padding: 8px 15px;
      border-radius: 10px;
      position: absolute;
      right: 0;
}
.lupa:hover {
  cursor: pointer;
  border:3px solid green;
}

.logo{
  width: 10rem;
}

.carrinho-de-compras {

  display: inline-block;
  width:none;
}


/*----Corpo do Carrinho de Compras----*/


.car_compras{
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 35px 50px 0px;
}
.compras h2{
  margin: 10px 40px 10px ;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.compras h3{
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 22px;
  top: -25px;
  left: 1110px;
}
.compras hr{  
  margin: 10px 0px;
  background-color: rgb(235, 235, 235);
  border-width: 1px;
}

.compras{
  width: 1200px;
  margin: 20 auto;
  overflow: hidden;
  border-radius: 5px;
  height: auto;
  background-color: rgb(243, 243, 243);
}
.precors{
  font-family:Arial, sans-serif;
  right: 10px;
  top: 27px;
  width: auto;
  position: absolute;
  margin-top: auto;
  font-size: 22px;
  font-weight: 700;
}

.compra1{
  border-radius: 5px;
  width: 165px;
  margin-top: 22px;
  margin-left: 22px;
}


.tit_desc{
  top: 20;
  left: 17%;
  position: absolute;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
.tit_desc h2{
  width: 90%;
  font-style: italic;
}
.multiple_spaces{
  margin: 6px;
}

.e_est{
  color: #007600;
  font-size: 12px;
  font-style: italic;
}

.v_por{
  font-size: 14px;
}
.k_case{
  color: #007185;
  font-size: 14px;
  cursor: hand;
}

.o_pres{
  font-size: 14px;
}
.s_mais{
  color: #007185;
  font-size: 14px;
  cursor: hand;
}

.item{
  position: relative;
}
.item hr{
  border-color: rgba(255, 255, 255, 0);
}

.del{
  color: #007185;
  font-size: 14px;
  cursor: hand;
}
.barra-vertical { 
  margin: 6px;
  font-weight: normal;
  background-color: #c4c4c4;
  padding: 0.7px;
}
.save{
  color: #007185;
  font-size: 14px;
  cursor: hand; 
}

/*----Rodapé do Carrinho de Compras--*/

.rodape{
  position: relative;
  margin: 20 auto;
  border-radius: 10px;
  width: 700px;
  height: auto;
  background-color: rgb(243, 243, 243);
}
.f_pedidos{
  position: relative;
  margin: 0 0 15px 0;
  top: 17px;
  left: 15px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.sub_total{
  position: relative;
  left: 500px;
  right: auto;
  text-transform: uppercase;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
