* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

/*----Menu-Principal do Carrinho de Compras--*/

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    background: #0063ff;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}
.menu_principal{
    width: 100%;
    background-color: #0063ff;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    align-content:none ;
}
.logo{
    width: 10rem;
}

.input-container {
    position:relative;
    background: none;

  width: 40%;    
    display: flex;
    justify-content: space-between;
  align-items: center;

}

.busca{
  width: 100%;    
  padding: 12px;
    border: none;
    border-radius: 10px;
}

.busca:hover {
      cursor: pointer;
      border: 3px solid blue;
}
.busca:focus {
      background: white;
      border: 3px solid blue;
      outline: none;
}

.lupa {
      background: rgb(46, 46, 157);
      padding: 8px 15px;
      border-radius: 10px;
      position: absolute;
      right: 0;
}
.lupa:hover {
  cursor: pointer;
  border:3px solid green;
}

.logo{
  width: 90px;
  margin-top: auto;
}

.carrinho-de-compras {

  display: inline-block;
  width:90px;
}


/*----Corpo do Carrinho de Compras----*/


.car_compras{
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #414141;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 35px 50px 0px;
}
.compras h2{
  margin: 10px 40px 10px ;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.compras h3{
  text-shadow: 1px 1px 2px #414141;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 22px;
  top: -25px;
  left: 1110px;
}
.compras hr{  
  margin: 10px 0px;
  background-color: rgb(235, 235, 235);
  border-width: 1px;
}

.compras{
  width: 1200px;
  margin: 20 auto;
  overflow: hidden;
  border-radius: 5px;
  height: auto;
  background-color: rgb(243, 243, 243);
}
.precors{
  font-family:Arial, sans-serif;
  right: 10px;
  top: 27px;
  width: auto;
  position: absolute;
  margin-top: auto;
  font-size: 22px;
  font-weight: 700;
  color: #0063ff;
  text-shadow: 1px 1px 2px #414141;
}

.compra1{
  border-radius: 5px;
  width: 165px;
  margin-top: 22px;
  margin-left: 22px;
}


.tit_desc{
  top: 20;
  left: 17%;
  position: absolute;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
.tit_desc h2{
  width: 90%;
  font-style: italic;
  color: #0063ff;
}
.multiple_spaces{
  margin: 6px;
}
.del{
  text-shadow: 1px 1px 1px #cacaca;
}
.save{
  text-shadow: 1px 1px 1px #cacaca;
}

.e_est{
  color: #007600;
  font-size: 12px;
  font-style: italic;
}

.v_por{
  font-size: 14px;
}
.k_case{
  text-shadow: 1px 1px 1px #cacaca;
  color: #007185;
  font-size: 14px;
  cursor: hand;
}

.o_pres{
  font-size: 14px;
}
.s_mais{
  text-shadow: 1px 1px 1px #cacaca;
  color: #007185;
  font-size: 14px;
  cursor: hand;
}

.item{
  position: relative;
}
.item hr{
  border-color: rgba(255, 255, 255, 0);
}

.del{
  color: #007185;
  font-size: 14px;
  cursor: hand;
}
.barra-vertical { 
  margin: 6px;
  font-weight: normal;
  background-color: #c4c4c4;
  padding: 0.7px;
}
.save{
  color: #007185;
  font-size: 14px;
  cursor: hand; 
}



/*----Rodapé do Carrinho de Compras--*/



.rodape{
  position: relative;
  margin: 20 auto;
  border-radius: 10px;
  width: 700px;
  height: auto;
  background-color: rgb(243, 243, 243);
}
.hr1{
  border-color:transparent;
  margin: 30px;
}

.hr2{
  border-color: rgb(255, 255, 255);
  margin: 50px 50px 30px;
}


.f_pedidos{
  position: absolute;
  margin: 10px 0px 25px 250px;
  top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-shadow: 1px 1px 2px #414141;

}
.sub_total{
  margin:0 0 20px 0;
  position: relative;
  left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px #414141;

}
.preco_subtotal{
  position: absolute;
  right: 30px;
  color: #0063ff;
  text-shadow: 1px 1px 2px #414141;
}
.frete{
  margin: 0 0 20px 0;
  position: relative;
  left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px #414141;
}
.valor_total{
  margin: 0 0 20px 0;
  position: relative;
  left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px #414141;
  font-size: 20px;
}
.desconto{
  margin: 0 0 20px 0;
  position: relative;
  left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px #414141;
}
.preco_desconto{
  position: absolute;
  right: 30px;
  color: #0063ff;
  text-shadow: 1px 1px 2px #414141;

}
.preco_frete{
  position: absolute;
  right: 30px;
  color: #0063ff;
  text-shadow: 1px 1px 2px #414141;
}
.preco_total{
  position: absolute;
  right: 30px;
  color: #0063ff;
  text-shadow: 1px 1px 2px #414141;
}