* {
 	 box-sizing: border-box;
	 padding: 0;
	 margin: 0
	 
}
html{
	scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;	
}


.menu-principal{
    width: 100%;
    background-color: #0063ff;
    height: 90px;

    /* esse codigo transforma o .menu-principal em flex box e alinha
     * a main na vertical usando a propriedade align-items: center
     */
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center; /* ---- auqui ---- */
    align-content:none ;

}

main{
    /* aqui tambem transforma a main em flex box para que as classes:
     * .logo   .busca   .carrinho-de-compras
     * possam ser alinhadas ao center e na horizontal dentro do .menu-principal
     */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    background: #0063ff;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.input-container {
	position:relative;
	background: none;
    width: 40%;    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.busca{
    width: 100%;    
    padding: 12px;
	border: none;
	border-radius: 10px;
}

.busca:hover {
		cursor: pointer;
		border: 3px solid blue;
}
.busca:focus {
	background:white;
	border: 3px solid blue;
	outline: none;
}

.lupa {
    background: blue;
	padding: 8px 15px;
	border-radius: 10px;
	position: absolute;
	right: 0;
}
.lupa:hover {
	cursor: pointer;
	border:3px solid green;
}

.logo{
    width: 10rem;
}

.carrinho-de-compras {

    display: inline-block;
    width: 90px;
}



/* apelos_comerciais */

.apelos_comerciais{
	background-color: #0063ff;
	position: relative;
	margin: 30px auto;
	width: 100%;
	height: 200px;

}
.apelos_comerciais ul{
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 38px 0 ;
    margin: 20px auto;
}
.apelos_comerciais li{
	display: list-item;
    text-align: center;
}

.icons_ac{
	display: flex;
    justify-content: center;
}
.icon_ac a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-family: Helvetica;	
}
.icon_ac p{
	color: #fff;
	font-family:Helvetica;
	font-size: 14px;
}
.icon_ac img{
	width: 80px;
}




/* new session */


.box {
	position: relative;
    background: rgba(236 246 249);
    max-width: 1200px;
	margin: 0 auto;
    margin-top: 50px;
    border: 3px solid none;
	
}
.box h1 { 
	position: relative;
    font-size: 2rem;
    margin: 10px 45px;
    border: 3px solid none;
    color: #0063ff;
	text-shadow:1px 1px 2px #414141;

}
.hr_m{
	border-color: transparent;
}
.raio {
	background: none;
	padding: 3px 30px;
	background-image: url('../img/raio.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px;
	filter: drop-shadow(2px 4px 8px #414141);
}

.container {
    background: rgba(236 246 249);
	border: 3px solid none;
	padding: 0px;
	max-width: 1200px;
	margin: 0 auto;
    display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
}

@media screen and 
(max-width: 1200px){.container {flex-wrap: wrap;}}

.produto {
	margin: auto 30px;
	border: 3px solid none;
	max-width: auto;
	padding: 10px 6px;
	color: black;
	position: relative;
    display: flex;
	flex-direction: column;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.produto__description {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: left;
}
.produto__description p{
	font-family: Arial, Helvetica, sans-serif;
}

.produto__description p del{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.produto__desconto {
    background: green;
	border-radius: 5px;
	padding: 2px 5px;
	color: white;
	font-weight: 700;					
	position: absolute;
	top: 10px;
	right: 0px;
}
.title_product{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

/*
.barras_verticais{
	margin: 6px;
    font-weight: normal;
    background-color: #c4c4c4;
    padding: 0.7px
}
*/
.img {
	width: 150px;
}

.footer { 
    margin: 200px 0 0 0;
	width: 100%;
	height: 100px;
	padding: 30px;
	background-image: url('../rodape_img/barrinhas_aleatorias.png'), url('../rodape_img/barrinhas_aleatorias_invertidas.png');
	background-repeat: no-repeat; 
	background-position: right, left;
	background-size: 150px;
    z-index: 10;  
} 

/*
*/

.test {
	background-color:none;
	padding: 10px;
	display: flex;
	justify-content: center;
}
.redes_sociais {
	background-color: none;
	 
}

.tit_footer {
	background-color: none;
	color: #0030eb;
	text-align: center;
	word-spacing: 30; /* lembrete */

}

.footer img{
    margin: 10px 30px;
}
.footer h2{
	font-family: Arial, Helvetica, sans-serif;
	
}
