* {
 	 box-sizing: border-box;
	 padding: 0;
	 margin: 0;
     font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
}
.menu-principal{
    width: 100%;
    background-color: #0063ff;
    height: 90px;

    /* esse codigo transforma o .menu-principal em flex box e alinha
     * a main na vertical usando a propriedade align-items: center
     */
    display: flex;
    flex-direction: row;
    justify-content: ;
    align-items: center; /* ---- auqui ---- */
    align-content: ;

}

main{
    /* aqui tambem transforma a main em flex box para que as classes:
     * .logo   .busca   .carrinho-de-compras
     * possam ser alinhadas ao center e na horizontal dentro do .menu-principal
     */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    
    background:;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.input-container {
	position:relative;
	background: ;

    width: 40%;    
	display: flex;
	justify-content: space-between;
    align-items: center;

}

.busca{
    width: 100%;    
    padding: 12px;
	border: none;
	border-radius: 10px;
}

.busca:hover {
		cursor: text;
		border: 3px solid blue;
}
.busca:active {
        cursor: text;
}
.busca:focus {
		background: ;
		border: 3px solid blue;
		outline: none;
        cursor: text;
}

.lupa {
		background: blue;
		padding: 8px 15px;
		border-radius: 10px;
		position: absolute;
		right: 0;
}
.lupa:hover {
	cursor: pointer;
	border:3px solid green;
}

.logo{
    width: 10rem;
}

.carrinho-de-compras {
    display: inline-block;
    width: ;
}



/* new session */


.box {
    background: none;
    max-width: 1200px;
	margin: 0 auto;
    margin-top: 50px;
    border: 3px solid none;
}
.box h1 { 
    font-size: 2rem;
    margin: 10px 0px;
    border: 3px solid none;
    color: #0063ff;
}
.raio {
	background: none;
	padding: 3px 30px;
	background-image: url('../img/raio.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px;
}

.container {
                        
						background: none;
						border: 3px solid none;
						padding: 0px;
						max-width: 1200px;
						margin: 0 auto;

						display: flex;
						flex-wrap: nowrap;
						flex-direction: row;
						justify-content: center;
}

@media screen and (max-width: 1200px) {
    .container {
        flex-wrap: wrap;
    }
}

.produto {
                        
						background: none;
						border: 3px solid none;
						max-width: auto;
						padding: 10px;
						color: black;
						position: relative;

						display: flex;
						flex-direction: column;
                        flex-wrap: wrap;
						justify-content: center;
						align-items: center;
						align-content: center;
		}
.produto__desconto {
						background: green;
						border-radius: 5px;
						padding: 2px 5px;
						color: white;
						font-weight: 700;
						
						position: absolute;
						top: 10px;
						right: 0px;
		}
		.img {
						width: 150px;
		}
		.produto__description {
						background: none;
						margin-top: 10px;
						display: flex;
						flex-direction: column;
						justify-content: left;
		}

.footer {
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: center;
	
	
	
	width: 100vw;
	height: 20vh;
	padding: 30px;
	background-color: red;
	background-image: url('../rodape/barrinhas_aleatorias.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 150px ;
	
    z-index: -10;

}
